// main: ../style.scss

.main {
  height: 906px;
  // .main__bg

  &__bg {
    position: relative;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-position-x: center;
    display: block;

    @include _1024 {
      background-size: 1024px auto;
      background-position-y: 0;
    }

    @include _768 {
      background-image: url("../img/bg_mobile.jpg");
      background-size: 880px;
      background-position-y: 20px;
    }
  }

  // .main__body

  &__body {
    position: relative;
    height: 906px;
  }

  // .main__content

  &__content {
    max-width: 343px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 435px 0 0 0;
    margin: 0 auto;

    @include _1024 {
      padding-top: 300px;
    }

    @include _768 {
      padding-top: 245px;
    }
  }

  // .main__title

  &__sub-title {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 35px;

    @include _768 {
      margin-bottom: 20px;
      font-size: 20px;
    }
  }

  // .main__scroll-link

  &__scroll-link {
    transition: ease-in-out $t-anim;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  // .main__scroll-img

  &__scroll-img {
    background-image: url("../img/mouse.png");
    background-repeat: no-repeat;
    background-position-x: 29px;
    background-position-y: 25px;
  }
}
