// main: style.scss

//colors
$black: #484848;
$blue: #1fc0fc;
$yellow: #ffc341;
$grad: linear-gradient(108.42deg, #ffc341 0%, #ffd701 96%);
$white: #ffffff;
$overlay: rgba(235, 235, 235, 0.95);
$grey: #e3e3e3;
$red: red;

//fonts
$rale: "Raleway", "Arial", "sans-serif";
$sans: "FiraSans", "Arial", "sans-serif";
$mont: "Montserrat", "Arial", "sans-serif";

//viewports

$mon: 1366px;
$s-mon: 1024px;
$tb: 768px;
$mob: 320px;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// timers

$t-anim: 0.4s;
